body {
	background-color: #eeeeee;
	border-width: 0px;
}
h1 {
	color:orange;
	text-align:center;
}
p {
font-family:"Times New Roman";
font-size:20px;
}

table{
	border-width: 0px;
	background-color: none;
}
table.input{
	border-width: 0px;
	background-color: none;
	vertical-align: top;
}

table.border1{
	border-color: black;
	border-width: 1px;
	border-style: dotted;
}
tr{
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: none;
	color: black;
	vertical-align: top;
}
tr.hover{
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: none;
	color: black;
	vertical-align: top;
}
tr.hover:hover {
	background-color: #9999cc
}

th.tableheader {
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: black;
	color: silver;
}
th {
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: grey;
	color: silver;
}

td{
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: none;
	color: black;
}
td.input{
	font-family:"tahoma, verdana";
	font-size:8pt;
	background-color: grey;
	color: black;
}
td.nobg{
	font-family:"tahoma, verdana";
	font-size:8pt;
	color: black;
	background-color: none;
}
hr{
	size: 1pt;
	color: black;
}
